mixin catalog()
  section.catalog(id="catalog")
    .container.catalog__container.tabs(data-tabs="parent")
      +picture-adaptive("content/catalog", "weights", "png", 321, 384, "Блины для штанги.").catalog__bg
      h2 Абонементы
      .tabs__controls(data-tabs="controls")
        button.tabs__control.btn(data-tabs="control" data-index="0") 1 месяц
        button.tabs__control.btn(data-tabs="control" data-index="1") 6 месяцев
        button.tabs__control.btn(data-tabs="control" data-index="2") 12 месяцев
      .tabs__content(data-tabs="content" style="height: 448px;")
        .tabs__element(data-tabs="element")
          ol
            li
              h3 С тренером
              p 12 занятий
              span(data-price-shadow="5000")
                | 5000&nbsp;
                mark ₽
              a(href="./catalog.html") купить абонемент
            li
              h3 Дневной
              p с 8:00 до 17:00
              span(data-price-shadow="1700")
                | 1700&nbsp;
                mark ₽
              a(href="./catalog.html") купить абонемент
            li
              h3 Полный день
              p с 8:00 до 22:00
              span(data-price-shadow="2700")
                | 2700&nbsp;
                mark ₽
              a(href="./catalog.html") купить абонемент
        .tabs__element(data-tabs="element")
          ol
            li
              h3 С тренером
              p 12 занятий
              span(data-price-shadow="25000")
                | 25000&nbsp;
                span ₽
              a(href="./catalog.html") купить абонемент
            li
              h3 Дневной
              p с 8:00 до 17:00
              span(data-price-shadow="8500")
                | 8500&nbsp;
                span ₽
              a(href="./catalog.html") купить абонемент
            li
              h3 Полный день
              p с 8:00 до 22:00
              span(data-price-shadow="13500")
                | 13500&nbsp;
                span ₽
              a(href="./catalog.html") купить абонемент
        .tabs__element(data-tabs="element")
          ol
            li
              h3 С тренером
              p 12 занятий
              span(data-price-shadow="40000")
                | 40000&nbsp;
                span ₽
              a(href="./catalog.html") купить абонемент
            li
              h3 Дневной
              p с 8:00 до 17:00
              span(data-price-shadow="15000")
                | 15000&nbsp;
                span ₽
              a(href="./catalog.html") купить абонемент
            li
              h3 Полный день
              p с 8:00 до 22:00
              span(data-price-shadow="25000")
                | 25000&nbsp;
                span ₽
              a(href="./catalog.html") купить абонемент
