mixin features()
  section.features
    .container.features__container
      h2 Наши преимущества
      ul.features__list
        li.features__item-special
          h3 100
            br
            small Тренажеров
          p Современные тренажеры
            br
            | на&nbsp;все группы мышц
        li.features__item
          span 900
            br
            small кв/м
          div
            h3 Площадь
            p Занимайтесь без очередей
              br
              | и&nbsp;толпучки
        li.features__item
          span 70
            small машин
          div
            h3 Собственная парковка
            p Вы&nbsp;всегда найдете место
              br
              | для своей машины на&nbsp;нашей парковке
        li.features__item
          span 350
            small мест
          div
            h3 Комфорт
            p Просторные раздевалки,
              br
              | душевые, фен, Wi-Fi, кулеры
        li.features__item
          span 5+
            small лет
          div
            h3 Тренерский опыт
            p Добивайтесь своих целей быстрее
              br
              | с&nbsp;профессиональным тренером
