mixin reviews()
  section.reviews
    .container.reviews__container
      h2 Отзывы
      // Обёртка для переноса кнопок за пределы свайпера
      .reviews__swiper-container
        .swiper-button-prev
        .swiper.reviews__swiper
          .swiper-wrapper.reviews__swiper-wrapper
            .swiper-slide.reviews__swiper-slide(tabindex="0")
              .reviews__swiper-img
                +picture("content/reviews", "annao", "jpg", 80, 80, "Анна Орлова, аватарка.")
              h3 Анна Орлова
              p «Хожу в SuperClub уже больше года. Нравится, что в клубе всегда чисто, тренажеры обновляют, персонал дружелюбный. Зал просторный, даже в вечернее время нет очередей»
            .swiper-slide.reviews__swiper-slide(tabindex="0")
              .reviews__swiper-img
                +picture("content/reviews", "ivanp", "jpg", 80, 80, "Алексей Лавров, аватарка.")
              h3 Иван Петров
              p «Отличный тренажерный зал в Омске! Я посещаю Supergym уже несколько месяцев и полностью доволен своим выбором. Персонал очень дружелюбный и готов помочь в любое время. Раздевалки чистые и комфортные, есть все необходимое, включая фены и кулеры. Тренерский состав высококвалифицированный, их опыт и профессионализм помогают достигать поставленных целей быстрее. Я также оценил разнообразие групповых занятий и отличную кардио-зону. Бонусом является собственная парковка, где всегда есть место для машины. Я очень рекомендую Supergym всем, кто хочет заниматься спортом в комфортной и современной обстановке!»
        .swiper-button-next
