mixin staff()
  section.staff
    .container.staff__container
      h2 Тренеры
      // Обёртка для переноса кнопок за пределы свайпера
      .staff__swiper-container
        .swiper-button-prev
        .swiper.staff__swiper
          .swiper-wrapper
            .swiper-slide.staff__swiper-slide(tabindex="0")
              .swiper-slide__img
                +picture-adaptive("content/staff", "annap", "jpg", 260, 294, "Анна Павлова.")
              .swiper-slide__content
                h3 Анна Павлова
                .swiper-slide__content-hidden
                  p CrossFit
                  ul
                    li Certified Level 3 Trainer
                    li Победитель чемпионата России по CrossFit
                    li Опыт — 6 лет
            .swiper-slide.staff__swiper-slide(tabindex="0")
              .swiper-slide__img
                +picture-adaptive("content/staff", "alekseyl", "jpg", 260, 294, "Алексей Лавров.")
              .swiper-slide__content
                h3 Алексей Лавров
                .swiper-slide__content-hidden
                  p CrossFit
                  ul
                    li Certified Level 3 Trainer
                    li Победитель чемпионата России по CrossFit
                    li Опыт — 6 лет
            .swiper-slide.staff__swiper-slide(tabindex="0")
              .swiper-slide__img
                +picture-adaptive("content/staff", "aleksandrp", "jpg", 260, 294, "Александр Пашков.")
              .swiper-slide__content
                h3 Александр Пашков
                .swiper-slide__content-hidden
                  p CrossFit
                  ul
                    li Certified Level 3 Trainer
                    li Победитель чемпионата России по CrossFit
                    li Опыт — 6 лет
            .swiper-slide.staff__swiper-slide(tabindex="0")
              .swiper-slide__img
                +picture-adaptive("content/staff", "mariak", "jpg", 260, 294, "Мария Кетова.")
              .swiper-slide__content
                h3 Мария Кетова
                .swiper-slide__content-hidden
                  p CrossFit
                  ul
                    li Certified Level 3 Trainer
                    li Победитель чемпионата России по CrossFit
                    li Опыт — 6 лет
            .swiper-slide.staff__swiper-slide(tabindex="0")
              .swiper-slide__img
                +picture-adaptive("content/staff", "annap", "jpg", 260, 294, "Анна Павлова.")
              .swiper-slide__content
                h3 Анна Павлова
                .swiper-slide__content-hidden
                  p CrossFit
                  ul
                    li Certified Level 3 Trainer
                    li Победитель чемпионата России по CrossFit
                    li Опыт — 6 лет
            .swiper-slide.staff__swiper-slide(tabindex="0")
              .swiper-slide__img
                +picture-adaptive("content/staff", "alekseyl", "jpg", 260, 294, "Алексей Лавров.")
              .swiper-slide__content
                h3 Алексей Лавров
                .swiper-slide__content-hidden
                  p CrossFit
                  ul
                    li Certified Level 3 Trainer
                    li Победитель чемпионата России по CrossFit
                    li Опыт — 6 лет
            .swiper-slide.staff__swiper-slide(tabindex="0")
              .swiper-slide__img
                +picture-adaptive("content/staff", "aleksandrp", "jpg", 260, 294, "Александр Пашков.")
              .swiper-slide__content
                h3 Александр Пашков
                .swiper-slide__content-hidden
                  p CrossFit
                  ul
                    li Certified Level 3 Trainer
                    li Победитель чемпионата России по CrossFit
                    li Опыт — 6 лет
            .swiper-slide.staff__swiper-slide(tabindex="0")
              .swiper-slide__img
                +picture-adaptive("content/staff", "mariak", "jpg", 260, 294, "Мария Кетова.")
              .swiper-slide__content
                h3 Мария Кетова
                .swiper-slide__content-hidden
                  p CrossFit
                  ul
                    li Certified Level 3 Trainer
                    li Победитель чемпионата России по CrossFit
                    li Опыт — 6 лет
        .swiper-button-next
