mixin staff()
  section.staff(id="staff")
    .container.staff__container
      h2 Тренеры
      // Обёртка для переноса кнопок за пределы свайпера
      .staff__swiper-container
        .swiper-button-prev.staff__swiper-button-prev
        .swiper.staff__swiper
          .swiper-wrapper
            .swiper-slide.staff__swiper-slide(tabindex="0")
              .swiper-slide__img
                +picture-adaptive("content/staff", "annap", "jpg", 260, 294, "Анна Павлова.")
              .swiper-slide__content
                h3 Анна Павлова
                .swiper-slide__content-hidden
                  p Йога и&nbsp;Пилатес
                  ul
                    li Сертифицированный инструктор йоги
                    li Сертификация по&nbsp;Пилатесу
                    li Опыт&nbsp;&mdash; 10&nbsp;лет
            .swiper-slide.staff__swiper-slide(tabindex="0")
              .swiper-slide__img
                +picture-adaptive("content/staff", "alekseyl", "jpg", 260, 294, "Алексей Лавров.")
              .swiper-slide__content
                h3 Алексей Лавров
                .swiper-slide__content-hidden
                  p Тяжелая атлетика
                  ul
                    li Сертифицированный тренер по&nbsp;тяжелой атлетике
                    li Участник национальных соревнований
                    li Опыт&nbsp;&mdash; 9&nbsp;лет
            .swiper-slide.staff__swiper-slide(tabindex="0")
              .swiper-slide__img
                +picture-adaptive("content/staff", "aleksandrp", "jpg", 260, 294, "Александр Пашков.")
              .swiper-slide__content
                h3 Александр Пашков
                .swiper-slide__content-hidden
                  p CrossFit
                  ul
                    li Certified Level&nbsp;3 Trainer
                    li Победитель чемпионата России по&nbsp;CrossFit
                    li Опыт&nbsp;&mdash; 6&nbsp;лет
            .swiper-slide.staff__swiper-slide(tabindex="0")
              .swiper-slide__img
                +picture-adaptive("content/staff", "mariak", "jpg", 260, 294, "Мария Кетова.")
              .swiper-slide__content
                h3 Мария Кетова
                .swiper-slide__content-hidden
                  p Высокоинтенсивные интервальные тренировки (HIIT)
                  ul
                    li Certified Level&nbsp;2 Trainer
                    li Победитель региональных соревнований
                    li Опыт&nbsp;&mdash; 5&nbsp;лет
            .swiper-slide.staff__swiper-slide(tabindex="0")
              .swiper-slide__img
                +picture-adaptive("content/staff", "mariav", "jpg", 260, 294, "Мария Волкова.")
              .swiper-slide__content
                h3 Мария Волкова
                .swiper-slide__content-hidden
                  p Функциональный тренинг
                  ul
                    li Certified Level&nbsp; 3 Trainer
                    li Участие в&nbsp;соревнованиях CrossFit Games
                    li Опыт&nbsp;&mdash; 7&nbsp;лет
            .swiper-slide.staff__swiper-slide(tabindex="0")
              .swiper-slide__img
                +picture-adaptive("content/staff", "sergeyi", "jpg", 260, 294, "Сергей Иванов.")
              .swiper-slide__content
                h3 Сергей Иванов
                .swiper-slide__content-hidden
                  p Бодибилдинг
                  ul
                    li Сертифицированный личный тренер
                    li Множество призовых мест в&nbsp;региональных соревнованиях
                    li Опыт&nbsp;&mdash; 12&nbsp;лет
            .swiper-slide.staff__swiper-slide(tabindex="0")
              .swiper-slide__img
                +picture-adaptive("content/staff", "maxims", "jpg", 260, 294, "Максим Смирнов.")
              .swiper-slide__content
                h3 Максим Смирнов
                .swiper-slide__content-hidden
                  p Функциональный тренинг и CrossFit
                  ul
                    li Certified Level&nbsp;3 Trainer
                    li Участие в&nbsp;Международных CrossFit соревнованиях
                    li Опыт&nbsp;&mdash; 7&nbsp;лет
            .swiper-slide.staff__swiper-slide(tabindex="0")
              .swiper-slide__img
                +picture-adaptive("content/staff", "aleksandrap", "jpg", 260, 294, "Александра Петрова.")
              .swiper-slide__content
                h3 Александра Петрова
                .swiper-slide__content-hidden
                  p Силовые тренировки
                  ul
                    li Certified Level&nbsp;3 Trainer
                    li Победитель национального Чемпионата по&nbsp;пауэрлифтингу
                    li Опыт&nbsp;&mdash; 8&nbsp;лет
        .swiper-button-next.staff__swiper-button-next
