mixin wip()
  section.wip
    .container.wip__container
      .wip__text
        h2 Страница в&nbsp;разработке
      +icon("gears", 100, 100)
      +picture("content/catalog", "weights_desktop", "webp", 287, 493, "Красные блины для штанги.")
