@use "../variables" as v;
@use "../mixins" as m;

.catalog {
  position: relative;
  z-index: 1;
  background-color: v.$color-catalog-bg;

  @include m.vp-1199 {
    text-align: center;
  }

  h2 {
    margin: 0;
    padding-right: 6px;

    font-family: v.$ff-alumni;
    font-weight: 700;
    font-size: 54px;
    line-height: 64.8px;
    letter-spacing: 0.02em;

    @include m.vp-1199 {
      padding-right: 13px;

      font-size: 42px;
      line-height: 50.4px;
    }

    @include m.vp-767 {
      padding-right: 10px;

      font-size: 32px;
      line-height: 38.4px;
    }
  }

  &__container {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;

    @include m.vp-1349 {
      padding: 120px 45px;
    }

    @include m.vp-1199 {
      padding: 100px 45px;
    }

    @include m.vp-767 {
      padding: 63px 15px 70px;
    }
  }

  &__bg {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -151px;

    @include m.vp-1199 {
      bottom: -124px;
    }

    @include m.vp-767 {
      display: none;
    }
  }

  &__bg > img {
    width: 287px;

    @include m.vp-1199 {
      width: 347px;
    }
  }
}
