@use "../variables" as v;
@use "../mixins" as m;

.sections-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(10px, 1fr));
  border-top: 1px solid v.$color-contacts-border;

  @include m.vp-1199 {
    grid-template-columns: repeat(1, minmax(10px, 1fr));
    border: none;
  }

  .container {
    padding-top: 56px;
    padding-bottom: 63px;
    max-width: 683px;

    @include m.vp-1199 {
      margin: 0 auto;
      padding-bottom: 70px;
    }

    @include m.vp-769 {
      margin: 0;
    }

    @include m.vp-767 {
      padding-left: 5%;
      padding-right: 5%;
      max-width: 100%;
    }
  }

  h2,
  dl,
  dd {
    margin: 0;
  }

  h2 {
    font-family: v.$ff-alumni;
    font-weight: 700;
    font-size: 54px;
    line-height: 64.8px;
    letter-spacing: 0.03em;

    @include m.vp-1199 {
      font-size: 42px;
      line-height: 50.4px;
    }

    @include m.vp-767 {
      font-weight: 600;
      font-size: 32px;
      line-height: 38.4px;
    }
  }

  a {
    transition: opacity v.$trans-default;

    @include m.hover-focus {
      opacity: 0.8;
    }
  }
}

.request {
  color: v.$color-default-white;
  background-color: v.$color-font-blue;

  &__container {
    margin: 0 0 0 auto;
    max-width: 683px;

    @include m.vp-1199 {
      padding-left: 133px;
    }

    @include m.vp-767 {
      max-width: 100%;
    }
  }

  h2 {
    transform: translate(0, 8px);
    letter-spacing: 0.035em; // stylelint-disable-line

    @include m.vp-1199 {
      transform: translate(0, 4px);
      letter-spacing: 0.03em;
    }

    @include m.vp-767 {
      transform: translate(-1px, 7px);
    }
  }

  &__form {
    display: grid;
    gap: 28px 27px;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 1fr);

    margin-top: 34px;
    max-width: 410px;

    @include m.vp-1199 {
      gap: 30px 58px;
      max-width: 472px;
    }

    @include m.vp-767 {
      display: flex;
      flex-direction: column;

      margin-top: 40px;
      max-width: 100%;
    }
  }

  &__btn {
    grid-column: 1 / span 2;

    padding: 16px;
    width: 100%;

    font-size: 14px;
    line-height: 16.41px;

    @include m.vp-767 {
      margin-top: 9px;
    }
  }
}

.contacts {
  background-color: v.$color-default-white;

  .contacts__container {
    margin: 0 auto 0 0;
    padding-left: 124px;

    @include m.vp-1199 {
      margin: 0 auto 0;
      padding-left: 90px;
      padding-bottom: 62px;
    }

    @include m.vp-767 {
      padding-left: 5%;
      padding-bottom: 60px;
    }
  }

  h2 {
    margin-left: -4px;
    letter-spacing: 0.02em;

    @include m.vp-1199 {
      margin-top: 5px;
      margin-left: 0;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));

    margin: 37px 0 0;
    padding-left: 0;

    list-style-type: none;

    @include m.vp-1199 {
      grid-template-columns: minmax(10px, 51%) minmax(10px, auto);
      margin-top: 32px;
    }

    @include m.vp-767 {
      grid-template-columns: repeat(1, minmax(10px, 1fr));
      gap: 18px;

      margin-top: 36px;
    }

    h3 {
      margin: 0;

      font-weight: 700;
      font-size: 16px;
      line-height: 150%;

      @include m.vp-1199 {
        font-size: 20px;
        line-height: 30px;
      }
    }

    p {
      margin: 4px 0 0;
      font-size: 14px;
      line-height: 21.33px;

      @include m.vp-1199 {
        margin-top: 7px;
        font-size: 18px;
        line-height: 152%;
      }
    }

    li:nth-child(odd) {
      padding-right: 10px;
      border-right: 1px solid v.$color-contacts-border;

      @include m.vp-1199 {
        padding-right: 0;
        margin-right: 12px;
      }

      @include m.vp-767 {
        margin-right: unset;
        border-right: unset;
      }
    }

    li:nth-child(even) {
      padding-left: 62px;

      @include m.vp-1199 {
        padding-left: 0;
        margin-left: 36px;
      }

      @include m.vp-767 {
        margin-left: unset;
      }
    }

    li:nth-child(n+3) {
      padding-top: 17px;

      @include m.vp-767 {
        padding-top: unset;
      }
    }

    li:nth-child(2n) {
      @include m.vp-767 {
        order: 1;
      }
    }
  }

  &__column-left {
    padding-right: 58px;
    border-right: 1px solid v.$color-contacts-border;

    @include m.vp-767 {
      padding-right: 0;
      border-right: none;
    }
  }

  &__column-right {
    padding-left: 60px;

    @include m.vp-767 {
      padding-left: 0;
      border-right: none;
    }
  }
}
