@use "../variables" as v;
@use "../mixins" as m;

.discounts {
  &__container {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 60px;

    @include m.vp-1199 {
      padding: 92px 5.86% 50px;
    }

    @include m.vp-767 {
      padding: 63px 15px 30px;
    }
  }

  h2 {
    margin: 0;

    font-family: v.$ff-alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 64.8px;
    letter-spacing: 0.03em;

    @include m.vp-1199 {
      padding-right: 9px;

      font-size: 42px;
      line-height: 50.4px;
    }

    @include m.vp-767 {
      padding-right: 5px;

      font-size: 32px;
      line-height: 38.4px;
    }
  }

  &__list {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, minmax(10px, 1fr));

    list-style-type: none;
    margin: 34px 0 0;
    padding-left: 0;

    @include m.vp-1199 {
      gap: 29px;

      margin: 40px auto 0;
      //max-width: 678px;
      width: 100%;
    }

    @include m.vp-767 {
      gap: 30px;
      grid-template-columns: repeat(1, minmax(10px, 1fr));

      margin-top: 43px;
    }

    h3,
    p {
      margin: 0;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(1, minmax(10px, max-content));

    min-height: 211px;

    border: 7px solid transparent;
    border-image-slice: 1;
    border-image-source: linear-gradient(
        135deg,
        v.$color-tabs-border-1,
        v.$color-tabs-border-2
    );

    @include m.vp-767 {
      grid-template-columns: repeat(1, minmax(10px, max-content));

      margin: 0 auto;
      width: 100%;
    }
  }

  &__item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;

    padding: 19px 21px 29px 28px;

    @include m.vp-1199 {
      min-height: 211px;
    }

    @include m.vp-767 {
      text-align: center;
      align-items: center;
      padding: 30px 40px 25px;
    }

    h3 {
      font-size: 26px;
      line-height: 150%;
    }

    p {
      line-height: 150%;
    }

    a {
      margin-top: auto;

      font-weight: 700;
      font-size: 12px;
      line-height: 100%;
      text-transform: uppercase;
      letter-spacing: 0.05em;

      border-bottom: 1px solid #1c3374;

      @include m.vp-767 {
        margin-top: 28px;
      }
    }
  }

  &__item-special {
    grid-row: span 2;

    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    gap: 0;

    color: v.$color-default-white;
    background: #ed0233;

    @include m.vp-1199 {
      grid-row: unset;
      grid-column: span 2;

      grid-template-columns: minmax(10px, 1fr)  minmax(10px, 399px);

      height: 462px;
    }

    @include m.vp-767 {
      grid-column: unset;
      grid-template-columns: repeat(1, minmax(10px, 1fr));

      height: unset;
    }

    .discounts__item-text--special {
      padding: 33px 20px 46px 45px;

      @include m.vp-1199 {
        padding-bottom: 47px;
      }

      @include m.vp-767 {
        align-items: center;

        padding-bottom: 45px;
      }
    }

    h3 {
      font-size: 28px;
      line-height: 156%;

      @include m.vp-767 {
        padding-left: 0;
        margin-left: -25px;
      }
    }

    b {
      font-size: 70px;
      line-height: 86%;
    }

    p {
      margin-top: 16px;
      font-size: 18px;
      line-height: 140%;

      @include m.vp-767 {
        margin-top: 12px;
        margin-right: 24px;
      }
    }

    a {
      font-size: 14px;
      line-height: 100%;

      border-bottom: 1px solid v.$color-default-white;

      @include m.vp-767 {
        align-self: center;

        margin-top: 33px;
        margin-right: 25px;
      }
    }
  }

  &__item-img {
    background-color: v.$color-font-blue;

    img {
      height: 100%;
      width: 100%;
    }
  }
}
