@use "../variables" as v;
@use "../mixins" as m;

.footer {
  background-color: v.$color-footer-bg;
  color: v.$color-default-white;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 37px 104px 30px;

    @include m.vp-1200 {
      padding: 39px 45px 33px;
    }

    @include m.vp-767 {
      display: grid;
      grid-template-columns: minmax(10px, 1fr);

      padding: 16px 5% 40px;
    }
  }

  &__logo {
    transform: translateX(-5px);
    padding: 5px;
    width: fit-content;

    text-transform: uppercase;
    font-family: v.$ff-alumni;
    font-weight: 600;
    font-size: 26px;
    line-height: 31.2px;
    letter-spacing: 0.02em;

    transition: opacity v.$trans-default;

    @include m.hover-focus {
      opacity: 0.6;
    }

    @include m.vp-1200 {
      transform: translate(-5px, -5px);
      font-weight: 700;
      font-size: 24px;
      line-height: 28.8px;
    }

    @include m.vp-767 {
      transform: translate(-6px, 25px);

      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;

    list-style-type: none;
    transform: translate(3px, -4px);

    margin: 0;
    padding: 0;
    max-width: 500px;

    @include m.vp-1200 {
      gap: 10px 20px;
      transform: translate(6px, -4px);
      max-width: 420px;
    }

    @include m.vp-767 {
      display: block;
      transform: translate(-6px, -4px);
      column-count: 2;
      column-gap: 32px;
    }

    li:not(:first-child) {
      @include m.vp-767 {
        margin-top: 15px;
      }
    }

    li:first-child {
      @include m.vp-767 {
        margin-top: 39px;
      }
    }

    a {
      padding: 5px;

      font-size: 14px;
      line-height: 16.41px;

      transition: opacity v.$trans-default;

      @include m.hover-focus {
        opacity: 0.6;
      }

      @include m.vp-767 {
        font-size: 16px;
        line-height: 18.75px;
      }
    }
  }

  &__socials-list {
    display: flex;
    flex-wrap: wrap;

    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 210px;

    @include m.vp-1200 {
      max-width: 150px;
    }

    @include m.vp-767 {
      margin-top: 19px;
      margin-left: -5px;
    }

    a {
      display: inline-block;
      padding: 5px;
      transition: opacity v.$trans-default;

      @include m.hover-focus {
        opacity: 0.6;
      }
    }
  }
}
