@use "../variables" as v;
@use "../mixins" as m;

.footer {
  background-color: v.$color-footer-bg;
  color: v.$color-default-white;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 41px;
    padding-bottom: 42px;
  }
}
