@use "../variables" as v;
@use "../mixins" as m;

.intro {
  background-color: v.$color-default-white;

  @include m.vp-1200 {
    text-align: center;
  }

  @include m.vp-767 {
    text-align: start;
  }

  h2,
  span,
  p {
    @include m.vp-1200 {
      text-align: center;
      margin-left: auto;
      margin-right: auto;

      max-width: 530px;
    }

    @include m.vp-767 {
      text-align: start;
    }
  }

  span,
  p {
    font-weight: 300;
  }

  h2 {
    margin: 39px 0 0;

    font-family: v.$ff-alumni;
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: 0.02em;

    @include m.vp-1200 {
      margin: 0 auto;
      padding-right: 16px;

      font-size: 42px;
      line-height: 50.4px;
    }

    @include m.vp-767 {
      margin: 0;
      padding-right: 0;

      font-size: 32px;
      line-height: 38.4px;
    }
  }

  h3 {
    margin: 8px 0 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    @include m.vp-1200 {
      margin: 0;
    }

    @include m.vp-767 {
      margin: 6px 0 0;
    }
  }

  p {
    margin: 37px auto 10px;

    @include m.vp-1200 {
      margin: 33px auto 0;
    }

    @include m.vp-767 {
      margin: 23px 0 0;
    }
  }

  picture {
    img {
      @include m.vp-767 {
        width: 100%;
      }
    }
  }

  &__container {
    position: relative;

    display: grid;
    justify-content: flex-end;
    grid-template-columns: minmax(10px, 355px) minmax(10px, 660px);
    gap: 85px;

    padding-top: 120px;
    padding-bottom: 120px;

    @include m.vp-1200 {
      grid-template-columns: minmax(10px, 1fr);
      gap: 43px;

      padding-top: 100px;
      padding-bottom: 100px;
    }

    @include m.vp-767 {
      gap: 34px;
      padding: 63px 0;
    }
  }

  &__column--text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include m.vp-1200 {
      justify-content: flex-start;
    }

    @include m.vp-767 {
      align-content: flex-start;
      padding: 0 15px 0;
    }

    span {
      @include m.vp-1200 {
        display: none;
      }
    }
  }

  &__column--image {
    @include m.vp-767 {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  &__video-wrapper {
    position: relative;
    margin-top: -56%;
    left: 106%;
    width: 364px;
    height: 228px;

    @include m.vp-1200 {
      margin-top: -127px;
      left: 206px;
      width: 266px;
      height: 167px;
    }

    @include m.vp-767 {
      margin-top: 6px;
      left: 0;
      width: 100%;
      height: auto;
    }

    // inner circle
    button {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 72px;
      height: 72px;

      background: linear-gradient(
          44.89deg,
          v.$color-video-button-gradient-1 25.38%,
          v.$color-video-button-gradient-2 74.89%
      );
      border-radius: 50%;
      border: none;

      transition: transform v.$trans-default;

      @include m.vp-1200 {
        width: 52px;
        height: 52px;
      }

      @include m.vp-767 {
        top: 47.5%;
        left: 50.5%;
      }
    }

    // outer ring
    button::before {
      content: "";
      position: absolute;
      transform: translate(-14px, -14px);

      width: 100px;
      height: 100px;

      inset: 0;
      background:
        linear-gradient(
            100deg,
            v.$color-video-button-gradient-3,
            v.$color-video-button-gradient-4
        );
      padding: 2px;
      opacity: 0.2;
      border-radius: 50%;
      mask:
        linear-gradient(#ffffff 0 0) content-box,
        linear-gradient(#ffffff 0 0);
      mask-composite: exclude;

      @include m.vp-1200 {
        width: 73px;
        height: 73px;
        transform: translate(-11px, -11px);
      }
    }

    // white triangle
    button::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;

      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 12px solid #ffffff;

      transform: translate(calc(-50% + 1px),-50%);

      @include m.vp-1200 {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 10px solid #ffffff;
      }
    }

    button:hover {
      transform: scale(1.1) translate(-50%, -50%);
    }

    .intro__video-container {
      width: 364px;
      height: 228px;

      @include m.vp-1200 {
        width: 266px;
        height: 167px;
      }

      @include m.vp-767 {
        width: 100%;
        height: auto;
        aspect-ratio: 1.91/1;
      }
    }
  }

  &__video-cover {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
  }

  &__video-cover::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: v.$color-video-mask;
  }
}

[data-video-isShown="true"] {
  z-index: -1;
  opacity: 0;

  animation: hide v.$trans-default;
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
