@use "../variables" as v;
@use "../mixins" as m;

.promo {
  display: flex;
  justify-content: center;
  background-color: v.$color-default-white;

  &__container {
    display: grid;
    grid-template-columns: minmax(10px, 500px) minmax(10px, 660px);

    padding-top: 120px;
    padding-bottom: 50px;
    width: unset;

    color: v.$color-default-white;

    @include m.vp-1349 {
      padding: 120px 45px 50px;
    }

    @include m.vp-1199 {
      grid-template-columns: minmax(10px, 292fr) minmax(10px, 386fr);

      padding-top: 100px;
    }

    @include m.vp-767 {
      grid-template-columns: minmax(10px, 1fr);

      padding: 70px 15px 50px;
    }

    @include m.vp-319 {
      grid-template-rows: auto;
    }
  }

  h2 {
    margin: 9px 0 0 0;
    text-align: center;

    font-family: v.$ff-alumni;
    font-weight: 600;
    font-size: 82px;
    line-height: 78.72px;
    letter-spacing: 0.03em;

    @include m.vp-1023 {
      margin: 3px 0 0 7px;
      text-align: start;

      font-size: 48px;
      line-height: 46.08px;
    }
  }

  &__text {
    display: grid;
    grid-template-columns: minmax(10px, 1fr);

    padding: 78px 80px 84px;
    width: 100%;
    height: 100%;

    background-color: v.$color-promo-text-bg;

    @include m.vp-1199 {
      padding: 47px 45px 50px;
    }

    @include m.vp-767 {
      justify-items: center;
    }

    @include m.vp-319 {
      padding: 15px;
    }
  }

  &__text-row {
    display: grid;
    grid-template-columns: minmax(117px, 201px) minmax(10px, 100px);
    gap: 38px;

    @include m.vp-1023 {
      grid-template-columns: minmax(117px, 139px) minmax(10px, 100px);
      gap: 7px;
    }

    @include m.vp-767 {
      gap: 6px;
    }

    @include m.vp-319 {
      gap: 10px;
      grid-template-columns: minmax(10px, 1fr);
    }
  }

  &__text-column {
    display: grid;
    grid-template-columns: 100px;
    gap: 15px;

    @include m.vp-1023 {
      gap: 5px;
    }
  }

  &__date {
    display: flex;
    flex-direction: column;
  }

  &__key {
    margin: 4px 0 0 10px;

    font-size: 18px;
    line-height: 27px;

    @include m.vp-1023 {
      margin: 0;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__value {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;

    margin: 4px 0 0 10px;
    padding-top: 3px;
    width: fit-content;
    max-width: 100px;

    font-weight: 700;
    font-size: 40px;
    line-height: 40px;

    border-top: 1px solid v.$color-default-white;

    @include m.vp-1023 {
      gap: 3px;
      margin: 1px 0 0;
      padding-top: 2px;

      font-size: 24px;
      line-height: 24px;
    }
  }

  &__value > p {
    font-size: 14px;
    line-height: 21px;

    margin: 0;

    @include m.vp-1023 {
      font-size: 10px;
      line-height: 13px;
    }
  }

  &__text > p {
    font-size: 18px;
    line-height: 27px;

    margin: 21px 0 0;

    @include m.vp-1023 {
      font-size: 12px;
      line-height: 18px;

      margin-top: 7px;
    }

    @include m.vp-767 {
      transform: translateX(-7px);
    }
  }

  &__text > a {
    align-items: center;
    align-self: flex-end;

    margin: 45px -3px 0 -3px;
    padding: 25px 5px;
    height: min-content;

    border-width: 4px;

    @include m.vp-1023 {
      margin: 30px -1px 0;
      padding: 13px 5px;

      font-size: 10px;
      line-height: 11.72px;

      border-width: 2px;
    }

    @include m.vp-767 {
      margin: 30px 0 0;
      width: 100%;
      border-width: 2px;
    }

    @include m.vp-319 {
      margin-top: 15px;
    }
  }

  &__img {
    background-color: v.$color-promo-img-bg;
  }

  &__img img {
    height: 100%;

    @include m.vp-767 {
      height: auto;
    }
  }
}
