@use "../variables" as v;
@use "../mixins" as m;

.reviews {
  &__container {
    padding: 57px 103px 120px;

    @include m.vp-1200 {
      padding: 43px 101px 100px;
    }

    @include m.vp-767 {
      padding: 33px 47px 69px;
    }
  }

  h2,
  h3,
  p {
    margin: 0;
  }

  h2 {
    text-align: center;
    padding-left: 9px;

    font-family: v.$ff-alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 64.8px;
    letter-spacing: 0.03em;

    @include m.vp-1200 {
      padding-left: 0;
      padding-right: 5px;

      font-size: 42px;
      line-height: 50.4px;
    }

    @include m.vp-767 {
      padding-right: 3px;

      font-size: 32px;
      line-height: 38.4px;
    }
  }

  &__swiper-container {
    position: relative;

    margin: 0 auto;
    max-width: 560px;

    @include m.vp-1200 {
      max-width: 566px;
    }

    @include m.vp-767 {
      max-width: 100%;
    }
  }

  &__swiper {
    margin-top: 36px;
    width: 560px;

    color: v.$color-default-white;

    @include m.vp-1200 {
      margin-top: 39px;
      width: 566px;
    }

    @include m.vp-767 {
      margin-top: 42px;
      max-width: 100%;
    }
  }

  &__swiper-slide {
    display: grid;
    grid-template-columns: minmax(10px, 80px) minmax(10px, auto);
    gap: 11px 30px;

    padding: 55px 61px 57px 59px;
    background: v.$color-swiper-reviews-bg;

    @include m.vp-1200 {
      gap: 11px 34px;
    }

    @include m.vp-767 {
      grid-template-columns: repeat(2, minmax(10px, 1fr));
      gap: 14px 10px;

      padding: 41px 25px 35px;
    }

    h3 {
      align-self: flex-end;

      font-size: 20px;
      line-height: 150%;

      @include m.vp-767 {
        align-self: center;
        padding-left: 6px;

        line-height: 130%;
      }
    }

    p {
      font-size: 16px;
      line-height: 140%;

      @include m.vp-767 {
        grid-column: span 2;
        text-align: center;
      }
    }
  }

  &__swiper-img {
    position: relative;
    grid-row: span 2;

    margin: 7px 0 0 3px;
    width: 80px;
    height: 80px;

    background-color: v.$color-default-white;
    border-radius: 50%;

    @include m.vp-1200 {
      margin: 7px 0 0 6px;
    }

    @include m.vp-767 {
      grid-row: unset;
      justify-self: flex-end;

      margin: 0;
      width: 68px;
      height: 68px;
    }

    img {
      border-radius: 50%;
      text-indent: -100vw;

      max-width: unset;
      width: calc(100% + 2px);
      height: calc(100% + 2px);

      transform: translate(-1px, -1px);
    }
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    @include m.vp-1200 {
      top: 42%;
    }

    @include m.vp-767 {
      top: 50%;
    }
  }
}
