@use "../variables" as v;
@use "../mixins" as m;

.wip {
  &__container {
    display: grid;
    grid-template-columns: minmax(10px, 1fr);
    justify-items: center;

    padding: 0 103px 50px;
    min-height: 400px;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h2 {
    text-align: center;
    margin-bottom: 0;
  }

  &__container > picture {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 50px;
  }
}
