@use "../variables" as v;
@use "../mixins" as m;

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 103px;
  padding-right: 103px;

  @include m.vp-1200 {
    padding-left: 45px;
    padding-right: 45px;
  }

  @include m.vp-767 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
