mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container.footer__container
      a.footer__logo(href="index.html", aria-label="Переход на главную") Supergym
      .footer_nav-wrapper nav-wrapper
      .footer_socials-wrapper socials-wrapper
