mixin footer(footerMods)
  -
    const navLinks = [
      {
        href: "./catalog.html",
        text: "Услуги",
        ariaLabel: "Перейти к разделу Услуги."
      },
      {
        href: "./index.html#catalog",
        text: "Абонементы",
        ariaLabel: "Перейти к разделу Абонементы."
      },
      {
        href: "./index.html#discounts",
        text: "Акции",
        ariaLabel: "Перейти к разделу Акции."
      },
      {
        href: "./index.html#staff",
        text: "Тренеры",
        ariaLabel: "Перейти к разделу Тренеры."
      },
      {
        href: "./catalog.html",
        text: "Расписание",
        ariaLabel: "Перейти к разделу Расписание."
      },
    ]

  footer.footer(class=footerMods)
    .container.footer__container
      a.footer__logo(href="index.html", aria-label="Переход на главную") Supergym
      ul.footer__nav-list
        each link in navLinks
          li
            a(href=link.href, aria-label=link.ariaLabel)=link.text
      ul.footer__socials-list
        li
          a(target="_blank" href="https://vk.com/htmlacademy")
            span.visually-hidden Мы Вконтакте.
            +icon("socials_vk", 25, 25)
        li
          a(target="_blank" href="#")
            span.visually-hidden Мы в Одноклассниках.
            +icon("socials_ok", 25, 25)
        li
          a(target="_blank" href="#")
            span.visually-hidden Мы в Reddit.
            +icon("socials_reddit", 25, 25)
