mixin header(headerMods, currentUrl)

  header.header(class=headerMods)
    //+picture("content/header", "bg-desktop", "jpg", "100%", "100%", ".")
    .container.header__container
      .header__top
        a.header__logo(href="index.html", aria-label="Переход на главную") Supergym
        a.header__phone(href="tel:+78005555555") 8-800-555-55-55
      .header__membership
        ul.header__membership-feature-list
            li Тренажёрный зал
            li Групповые занятия
            li Кардио-зона
        .header__membership-city Омск
        h1.header__membership-title
            | Фитнес
            br
            | центр
        .header__membership-btn
          button Купить абонемент
        .header__membership-img
          +picture("content/header", "membership-desktop", "jpg", 500, 556, ".")

  //header.header(class=headerMods)
  //  +picture("content/header", "bg-desktop", "jpg", "100%", "100%", ".")
  //  .container.header__container
  //    .header__top
  //      a.header__logo(href="index.html", aria-label="Переход на главную") Supergym
  //      a.header__phone(href="tel:+78005555555") 8-800-555-55-55
  //    .header__membership
  //      .header__membership-column.header__membership-column--center
  //        ul.header__membership-feature-list
  //          li Тренажёрный зал
  //          li Групповые занятия
  //          li Кардио-зона
  //      .header__membership-column.header__membership-column--gap.header__membership-column--padding-bottom
  //        span.header__membership-city Омск
  //        h1
  //          | Фитнес
  //          br
  //          | центр
  //        button.header__membership-btn Купить абонемент
  //      .header__membership-column.header__membership-column--img
  //        +picture("content/header", "membership-desktop", "jpg", 500, 556, ".")
