mixin header(headerMods, currentUrl)

  header.header(class=headerMods)
    .container.header__container
      .header__top
        a.header__logo(href="index.html", aria-label="Переход на главную") Supergym
        a.header__phone(href="tel:+78005555555") 8-800-555-55-55
      .header__membership
        ul.header__membership-feature-list
            li Тренажёрный зал
            li Групповые занятия
            li Кардио-зона
        .header__membership-city ОMC
          span к
        h1.header__membership-title
            | Фитнес
            br
            | центр
        .header__membership-btn
          button Купить абонемент
        .header__membership-img
          +picture("content/header", "membership", "jpg", 500, 556, "Привлекательный спортсмен.")
