doctype html

include ../components

block variables

html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Supergym – самый большой фитнес центр за Уралом")
    meta(name="keywords" content="Фитнес центр, спортзал, групповые занятия, кардио, тренажёрный зал")
    //- генерируйте favicon тут - https://realfavicongenerator.net/
    //- в подключение фавикон манифеста обязательно добавьте строчки crossorigin="use-credentials"
    //- используйте только для шрифта находящегося на первом экране
    //- link(rel="preload", href="fonts/placeholder.woff2", as="font", crossorigin="anonymous")
    //- При необходимости вы можете добавить разметку Open graf. - const Open graf = true
    if (openGraf)
      //- Обязательно измените содержание контента на тот что необходим!
      //- Введите заголовок
      meta(property="og:title", content="Лига решений")
      //- Введите заголовок путь к картинке
      meta(property="og:image", content="https://24fortest.ru/img/content/sharing.png")
      //- Введите необходимый тип
      meta(property="og:type", content="article")
      //- Введите адрес сайта
      meta(property="og:url", content="https://24fortest.ru/")
      //- Введите описание
      meta(property="og:description", content="Простые и понятные решения в помощь разработчикам от команды Лига А")

    link(rel="apple-touch-icon" sizes="180x180" href="./img/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./img/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./img/favicons/favicon-16x16.png")
    link(rel="manifest" href="./img/favicons/site.webmanifest" crossorigin="use-credentials")
    link(rel="mask-icon" href="./img/favicons/safari-pinned-tab.svg" color="#000000")
    link(rel="shortcut icon" href="./img/favicons/favicon.ico")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-config" content="./img/favicons/browserconfig.xml")
    meta(name="theme-color" content="#ffffff")

    link(rel="stylesheet", href="css/style.min.css")
    link(rel="preload" href="./fonts/alumni-sans-bold.woff2" as="font" type="font/woff2" crossorigin="anonymous")
    link(rel="preload" href="./fonts/alumni-sans-extra-bold.woff2" as="font" type="font/woff2" crossorigin="anonymous")
    link(rel="preload" href="./fonts/roboto-condensed-bold.woff2" as="font" type="font/woff2" crossorigin="anonymous")
    link(rel="preload" href="./fonts/roboto-condensed-light.woff2" as="font" type="font/woff2" crossorigin="anonymous")
    link(rel="preload" href="./fonts/roboto-condensed-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous")

    link(rel="preconnect" href="https://www.youtube.com")
    link(rel="dns-prefetch" href="https://www.youtube.com")

  body
    +sprite()
    .wrapper(class=wrapperMods)
      if (hasHeader)
        +header(headerMods, currentUrl)

      block main

      if (hasFooter)
        +footer(footerMods)

    block modals

    script(src="https://www.youtube.com/iframe_api?api_key=AIzaSyBAh8GocKypBo-lBD8fgheXEk_WX8JQzzw")
    script(src="js/vendor.min.js")
    script(src="js/main.min.js")
